@tailwind base;
@tailwind components;
@tailwind utilities;


.mycontainer{
  border: 2px solid black;
}

.scrollbar::-webkit-scrollbar {
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.clip-path-wave {
  clip-path: ellipse(100% 100% at 50% 100%);
}

@media (max-width: 640px) {  
  .clip-path-wave {
    clip-path: ellipse(199% 100% at 50% 100%);
  }
}

@media (max-width: 768px) { 
  .clip-path-wave {
    clip-path: ellipse(199% 100% at 50% 100%);
  }
}

@media (max-width: 1024px) {  
  .clip-path-wave {
    clip-path: ellipse(199% 100% at 50% 100%);
  }
}